name: Build & Test

on:
  push:
    branches-ignore:
      - master
  pull_request:

jobs:
  build:
    runs-on:
      - self-hosted
      - Linux
      - X64

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build project
        run: ./gradlew build
